@model HelpViewModel
@{
ViewData["Title"] = "Detalhes do Help";
}
<div class="form-group">
  <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-arrow-left"></i> Voltar</a>

  @if(Model.Situacao == Situacao.AguardandoAtendimento)
  {
  <button class="btn btn-primary" data-toggle="modal" data-target="#atender">Atender</button>
  }
  @if(Model.Situacao == Situacao.EmAtendimento)
  {
  <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Finalizar</button>
  }
</div>

<div class="card card-body mt-1">
  <div class="card-title">
    <h4 class="font-weight-bold">Help - @Model.Situacao</h4>
    @if(@Model.Tecnico != null){

    <span>Técnico responsável: @Model.Tecnico.Nome</span>
    }
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Tipo de Problema: @Model.TipoDeProblema</li>
    <li class="list-group-item">Setor: @Model.Setor</li>
    <li class="list-group-item">Telefone: @Model.Telefone</li>
    <li class="list-group-item">@Model.Descricao</li>
  </ul>
</div>

  @if(Model.Situacao == Situacao.Finalizado)
  {
  <div class="card card-body mt-2">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h4 class="font-weight-bold">Solução</h4>
        <p>@Model.Solucao</p>
      </li>
      <li class="list-group-item">Início do Atendimento: @Model.InicioDoAtendimento</li>
      <li class="list-group-item">Fim do Atendimento: @Model.FimDoAtendimento</li>

    </ul>
  </div>
  }

  @if(@Model.Situacao == Situacao.EmAtendimento){
  <partial name="_FinalizarHelp" />
  }
  <!-- Modal -->
  <div class="modal fade" id="atender" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="col-12" asp-action="Atender">
            <input hidden name="id" value="@Model.Id">
            <select name="tecnicoId" value="id" asp-items="@ViewBag.Tecnicos"></select>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>