@model HelpViewModel
@{
ViewData["Title"] = "Detalhes do Help";
}
<div class="form-group mt-1 mb-0 p-2">
  <a class="btn btn-link btn-sm" asp-action="Index"><i class="fas fa-arrow-left"></i> Voltar</a>

  @if(Model.Situacao == Situacao.AguardandoAtendimento)
  {
  <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#atender">Atender</button>
  }
  @if(Model.Situacao == Situacao.EmAtendimento)
  {
  <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">Finalizar</button>
  }
</div>

<div class="card card-body mt-1">
  <div class="card-title">
    <h4 class="font-weight-bold">Help - @Model.Situacao</h4>

    <div>
      <ul class="list-group list-group-flush">
        @if(@Model.Tecnico != null){
        <li class="list-group-item">Técnico responsável: @Model.Tecnico.Nome</li>
        }
        <li class="list-group-item">Tipo: @Model.Tipo</li>
        <li class="list-group-item">Setor: @Model.Setor</li>
        <li class="list-group-item">Telefone: @Model.Telefone</li>
        <li class="list-group-item">@Model.Descricao</li>
      </ul>
    </div>
<hr>
    @if(Model.Situacao == Situacao.Finalizado)
    {
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h4 class="font-weight-bold">Solução</h4>
        <p>@Model.Solucao</p>
      </li>
      <li class="list-group-item">Início do Atendimento: @Model.InicioDoAtendimento</li>
      <li class="list-group-item">Fim do Atendimento: @Model.FimDoAtendimento</li>

    </ul>
    }
  </div>
  @if(Model.Tecnico != null){
  <partial name="_FinalizarHelp"></partial>
  }else{
  <partial name="_AtenderHelp"></partial>
  }