@model HelpViewModel
@{
ViewData["Title"] = "Detalhes";
}
<div class="mt-3" style="margin-left: 93%; position: static; display: inline-block;">

  @if(Model.PodeAtender)
  {
  <button class="btn btn-primary" data-toggle="modal" data-target="#atender">Atender</button>
  }
  @if(Model.Situacao == Situacao.EmAtendimento)
  {
  <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">Finalizar</button>
  }
</div>

<div class="card card-body mt-2">
  <div class="card-title">
    <h4 class="font-weight-bold">Help - @Model.Situacao</h4>

    <div>
      <ul class="list-group list-group-flush">
        @if(@Model.Tecnico != null){
        <li class="list-group-item">Técnico responsável: <span class="text-success font-weight-bold">@Model.Tecnico.Nome</span></li>
        }
        <li class="list-group-item">Tipo: @Model.Tipo</li>
        <li class="list-group-item">Setor: @Model.Setor</li>
        <li class="list-group-item">Telefone: @Model.Telefone</li>
        <li class="list-group-item">@Model.Descricao</li>
      </ul>
    </div>
<hr>
    @if(Model.Situacao == Situacao.Finalizado)
    {
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h4 class="font-weight-bold">Solução</h4>
        <p>@Model.Solucao</p>
      </li>
      <li class="list-group-item">Início do Atendimento: @Model.InicioDoAtendimento</li>
      <li class="list-group-item">Fim do Atendimento: @Model.FimDoAtendimento</li>

    </ul>
    }
  </div>
  
  <partial name="_FinalizarHelp"></partial>
  <partial name="_AtenderHelp"></partial>