@model IEnumerable<Help>
  @{
  Layout = "_Layout";
  ViewData["Title"] = "Lista de Helps";
  }
  @if(@Model.Any()){
  <div class="form-group mt-1 mb-0 p-2">
    <a class="btn btn-link btn-sm" asp-controller="Home" asp-action="Index"><i class="fas fa-arrow-left"></i> Voltar</a>
  </div>
  <div class="card card-body mt-0">
    <h3 class="card-title"><em class="fas fa-hands-helping"></em> @ViewData["Title"]</h3>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Registro</th>
            <th>Setor</th>
            <th>Tipo</th>
            <th>Situação</th>
          </tr>
        </thead>
        <tbody>
          @foreach(var item in Model){
          <tr onclick="window.location='Helps/Detalhes/@item.Id';">
            <td>@item.DataDeRegistro</td>
            <td>@item.Setor</td>
            <td>@item.Tipo</td>
            <td>@item.Situacao.ToString("F")</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  }else{
  <h3 class="card card-body alert-primary">Nenhum help cadastrado!</h3>
  }

  @section Scripts{
  <script>

  </script>
  }